{%extends "layout.html"%}

{%block body%}

    <h1>Register</h1>
    <form action="/register" method="get">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <select name="sport">
            <option disabled value="" selected>Sport</option>
            {% for sport in sports%}
                <option name="{{sport}}">{{sport}}</option>
            {% endfor%}

        </select>
        <button type="submit">Register</button>
    </form>

{% endblock %}